.case {
    width: 300px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.1);

    @include media-breakpoint-up(md) {
        width: 30%;
        margin-bottom: 0px;
    }

    &:hover {
        .case__caption {
            opacity: 1;
        }
    }
}

.case__caption {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
}

.case__title {
    color: #fff;
    margin-bottom: 10px;

    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }
}

.case hr {
    width: 90%;
}

.case__text {
    color: #fff;
    margin-bottom: 10px;
}

.case__link {
    display: inline-block;
    background-color: $dark-green;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.case img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}