.greetings {
    min-height: 100vh;
    background-image: url(/images/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: Roboto;
    font-style: normal;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.greetings__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.greetings__center h1 {
    font-size: 20px;
    letter-spacing: 6px;
    color: #fff;
    
    @include media-breakpoint-up(lg) {
        font-size: 30px;
    }
    
    @include media-breakpoint-up(xl) {
        font-size: 40px;
    }
}

.greetings__center h2 {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }
    
    @include media-breakpoint-up(xl) {
        font-size: 30px;
    }
}

.greetings__bottom {
    position: absolute;
    bottom: 70px;
    color: #ffffff;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.greetings__arrow-down {
    background-image: url(/images/icons/chevron-down.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: arrow 1.5s ease-in-out infinite;
}

@keyframes arrow {
    0% { 
        opacity: 1; 
        bottom: 10px;
    }   
    100% { 
        bottom: -15px;
        opacity: 0; 
    }
   }